.footer {
  background-color: #28a745; /* Green background color */
  color: #fff; /* Text color */
  padding: 20px 0; /* Add padding for better spacing */
}

.text-center {
  text-align: center; /* Center-align text */
}

/* You can add more styles based on your design preferences */
